	body {
		font-family: monospace;
		display: flex;
		flex-direction: column;
		align-items: center;
		margin: 4px;
		overflow-y: auto;
		background-color: #f2f2f2;
		}
	button {
		margin: 4px;
		white-space: nowrap;
		}
	button:not([disabled]):hover {
		background-color: #ddd;
		cursor: pointer;
		}
	button:disabled {
		cursor: not-allowed;
		}